.circular-gallery {
  width: 100%;
  max-width: 1400px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
}

.circulargallery-heading{
color: #90caf9;
    font-size: 2.5rem;}